.card {
  position: relative;
}

.card__image {
  border-radius: 8px;
  display: block;
  height: 413px;
  margin-bottom: 12px;
  object-fit: cover;
  width: 100%;
}

.card__delete-btn {
  background-color: transparent;
  background-image: url(../images/delete-icon.svg);
  background-position: center;
  border: none;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-icon-hover.svg);
  cursor: pointer;
}

.card__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  max-width: 353px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-btn {
  background-color: transparent;
  background-image: url(../images/like-icon.svg);
  background-repeat: no-repeat;
  border: none;
  color: #212121;
  height: 23px;
  opacity: 40%;
  width: 23px;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__like-btn_liked {
  background-image: url(../images/like-icon-liked.svg);
  opacity: 100%;
}

.card__like-btn_liked:hover {
  background-image: url(../images/like-icon-liked-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 221px;
  }
}
