.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
  border-bottom: 1px #21212140 solid;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px 20px;
    padding: 0 0 20px;
  }
}
